// header
@media screen and (max-width: 1333px) {
    div#custom-bootstrap-menu .collapse .nav li .hvr-underline-reveal {
        font-size: 15px;
        padding: 11px 33.8px 10px 33.8px;
    }
}
@media screen and (max-width: 1250px) {
    div#custom-bootstrap-menu .collapse .nav li .hvr-underline-reveal {
        font-size: 15px;
        padding: 11px 29.8px 10px 29.8px;
    }
}
@media screen and (max-width: 1179px) {
    div#custom-bootstrap-menu .collapse .nav li .hvr-underline-reveal {
        font-size: 14px;
        padding: 11px 27.8px 10px 27.8px;
    }
}
@media screen and (max-width: 1108px) {
    div#custom-bootstrap-menu .collapse .nav li .hvr-underline-reveal {
        padding: 11px 24px 10px 24px;
    }
}
@media screen and (max-width: 1040px) {
    div#custom-bootstrap-menu .collapse .nav li .hvr-underline-reveal {
        padding: 11px 21px 10px 21px;
    }
}
@media screen and (max-width: 986px) {
    div#custom-bootstrap-menu .collapse .nav li .hvr-underline-reveal {
        padding: 11px 18px 10px 18px;
    }
}
@media screen and (max-width: 932px) {
    div#custom-bootstrap-menu .collapse .nav li .hvr-underline-reveal {
        padding: 11px 15px 10px 15px;
    }
}
@media screen and (max-width: 932px) {
    div#custom-bootstrap-menu .collapse .nav li .hvr-underline-reveal {
        padding: 11px 15px 10px 15px;
    }
}
@media screen and (max-width: 878px) {
    div#custom-bootstrap-menu .collapse .nav li .hvr-underline-reveal {
        font-size: 13px;
        padding: 11px 11px 10px 11px;
    }
}
@media screen and (max-width: 767px) {
    header .collapse .nav .toggle-menu {
        float: none;
    }
    div#custom-bootstrap-menu .collapse .nav {
        width: 100%;
        margin: 0;
    }
    header .collapse .nav .toggle-menu .submenu {
        display: none;
    }
}
@media screen and (max-width: 1221px) {
    .our-specialists-box {
        float: left;
    }
    .col-centered {
        float: none;
        margin: 0 auto;
    }
    .popular {
        width: 638px;
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (max-width: 1278px) {
    header .top .center {
        margin-left: 0;
        padding-right: 0;
        max-width: 548px;
    }
    .top .right .telephone {
        display: block;
        font-size: 26px;
    }
    .top .right .addres {
        font-size: 15px;
    }
    .right {
        padding-right: 0;
        padding-left: 0;
    }
    .bottom .footer-right {
        max-width: 452px
    }
    .bottom .col-lg-3.col-center.footer-logo {
        margin-right: 5px;
        float: left;
    }
}
@media screen and (max-width: 1199px) {
    .top .col-xl-3.col-lg-3.logo {
        float: left;
    }
    .col-xl-6.col-lg-3.col-sm-5.center {
        max-width: 454px;
    }
}
@media screen and (max-width: 1083px) {
    .col-xl-6.col-lg-3.col-sm-5.center {
        max-width: 350px;
    }
    .top span.graphic {
        margin-bottom: 5px;
        width: 183px;
    }
}
@media screen and (max-width: 971px) {
    .top {
        .col-xl-3.col-lg-3.col-sm-3.right {
            width: 690px;
            float: left;
            span.telephone, span.addres {
                display: inline-block;
                margin-right: 11px;
            }
        }

    }

}
@media screen and (max-width: 741px) {
    .top {
        .rov {
            .col-xl-3.col-lg-3.col-sm-3.right {
                padding-bottom: 10px;
                width: 218px;
                float: none;
                margin: auto;
            }
            .col-xl-3.col-lg-3.logo {
                float: none;
                margin: auto;
            }
            .col-xl-6.col-lg-3.col-sm-5.center {
                float: none;
                margin: auto;
            }
        }
    }
}
@media screen and (max-width: 1199px) {
    .our-specialists-box .carousel-control span.fa.fa-caret-left {
        left: 31px;
        position: absolute;
        top: 30%;
        z-index: 5;
        display: inline-block;
        font-size: 91px;
    }
    .our-specialists-box .carousel-control span.fa.fa-caret-right {
        right: 31px;
        position: absolute;
        top: 30%;
        z-index: 5;
        display: inline-block;
        font-size: 91px;
    }
}
@media screen and (max-width: 1332px) {
    ul.footer-menu li a {
        font-size: 17px;
        font-family: 'Lato' sans-serif;
        padding-left: 33px;
        padding-right: 33px;
    }
}
@media screen and (max-width: 1328px) {
    ul.footer-menu li a {
        font-size: 16px;
        padding-left: 37px;
        padding-right: 33px;
    }
}
@media screen and (max-width: 1325px) {
    ul.footer-menu li {
        float: none;
        display: block;
        a {
            padding: 8px;
        }
    }
}
@media screen and (max-width: 850px) {
    .col-lg-3.col-xs-6.col-sm-5.col-center.footer-center {
        float: none;
        display: inline-block;
    }
    .col-lg-3.col-center.footer-logo {
        img {
            float: none;
        }
    }
    .col-lg-6.col-xs-6.col-sm-5cols.col-center {
        float: none;
        margin: 0 auto;
    }
    .col-lg-6.col-xs-6.col-sm-5cols.col-center.footer-right {
        float: none;
    }
}
@media screen and (max-width: 660px) {
    .under-menu {
        h1.red {
            margin-top: 321px;
        }
    }
}
@media screen and (max-width: 695px) {
    .col-lg-6.col-sm-7.col-centered.popular {
        width: 474px;
        h2 {
            font-size: 26px;
        }
        .img {
            height: 222px;
        }
    }
}
@media screen and (max-width: 520px) {
    .col-lg-6.col-sm-7.col-centered.popular {
        width: 316px;
        h2 {
            font-size: 23px;
        }
    }
    .opacity {
        a.register.red-but {
            font-size: 21px;
            width: 275px;
            margin: auto;
            border-radius: 30px;
            padding-bottom: 8px;
            padding-top: 8px;
        }
    }
    .our-specialists-box .carousel-control span.fa.fa-caret-left {
        left: 4px;
        position: absolute;
        top: 30%;
        z-index: 5;
        display: inline-block;
        font-size: 70px;
    }
    .our-specialists-box .carousel-control span.fa.fa-caret-right {
        right: 4px;
        position: absolute;
        top: 30%;
        z-index: 5;
        display: inline-block;
        font-size: 70px;
    }
}
@media screen and (max-width: 360px) {
    .center-block.list.img {
        margin: 3px;
    }
    .col-lg-3.col-xs-6.col-sm-5.col-center.footer-center {
        padding-left: 15px;
        span {
            font-size: 14px;
        }

    }
    .col-lg-3.col-md-5.col-sm-12.col-centered.our-specialists-box {
        width: 299px;
    }
    .col-lg-3.col-md-7.col-sm-12.col-centered.our-clinic {
        padding-right: 0;
    }
}

// footer
@media screen and (max-width: 1109px) {
    .top .col-xl-6.col-lg-3.col-sm-5.center {
        max-width: 370px;
        float: right;
        span.graphic {
            margin-bottom: 5px;
            margin-top: 10px;
            font-size: 15px;
            width: 200px;
        }
    }

    .col-lg-3.col-xs-6.col-sm-5.col-center.footer-center {
        margin-bottom: 11px;
        float: right;
    }
    .col-lg-6.col-xs-12.col-sm-12.col-center.footer-right {
        margin: auto;
        max-width: 600px;
        float: none;
    }
}
@media screen and (max-width: 657px) {
    .bottom {
        .col-lg-3.col-center.footer-logo {
            float: none;
        }
        .col-lg-3.col-xs-6.col-sm-5.col-center.footer-center {
            float: none;
            width: 267px;
        }
    }

}